.arcticmodal-overlay,
.arcticmodal-container { 
    position: fixed; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1000; 
}
.arcticmodal-container { 
    overflow: auto; 
    margin: 0; 
    padding: 0; 
    border: 0; 
    border-collapse: collapse; 
}
*:first-child+html .arcticmodal-container { 
    height: 100% 
}
.arcticmodal-container_i { 
    height: 100%; 
    margin: 0 auto; 
}
.arcticmodal-container_i2 { 
    padding: 24px; 
    margin: 0; 
    border: 0; 
    vertical-align: middle; 
}
.arcticmodal-error { 
    padding: 20px; 
    border-radius: 10px; 
    background: #000; 
    color: #fff; 
}
.arcticmodal-loading { 
    width: 80px; 
    height: 80px; 
    border-radius: 10px; 
    /*background: #000 url(loading.gif) no-repeat 50% 50%; */
}
.arcticmodal-close{
    width: 20px;
    height: 20px;
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    right: -20px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all ease-in 0.2s;
       -moz-transition: all ease-in 0.2s;
        -ms-transition: all ease-in 0.2s;
         -o-transition: all ease-in 0.2s;
            transition: all ease-in 0.2s;
}
.arcticmodal-close:hover{
    opacity: 0.5;
}
    
    .arcticmodal_container_box{
        width: 100%;
        height: auto;
        max-width: 500px;
        background-color: #FFF;
        padding: 20px;
        font-size: 14px;
        line-height: normal;
        color: #000;
        font-family: Arial,sans-serif;
        position: relative;
    }
        .arcticmodal_container_box *{
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }