.breadcrumbs{
	font-size: 11.5px;
	font-weight: bold;
	
	margin-top: 12px;
	margin-bottom: 15px;
}

	.breadcumbs__link{
		float: left;
		color: #2B2C2C;
		position: relative;
		text-decoration: none;
		padding-right: 3px;
	}
	.breadcumbs__link::after{
		content: "";
		width: 6px;
		height: 5px;
		display: inline-block;
		margin-left: 3px;
		background: url(../images/breadcrumb.png) 0 0 no-repeat;
	}
	.breadcumbs__link:hover{text-decoration: underline;}

	.breadcumbs__item{
		float: left;
	}