.contacts-section{
	
}
	.contacts-section .header__contacts{
		font-size: 20px;
		text-align: center;
	}

.contacts_block{}
	.contacts_block__left{
		float: left;
		margin-right: 15px;
	}
		.contacts_block--title{
			font-size: 22px;
		}

	.contacts_block__right{
		float: left;
		width: calc(100% - 280px);
	}

	.contacts_block .manager-contacts{
		display: block;
	}
		.contacts_block .manager-contacts__item{
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}