.catalog__nav{
	width: 179px;
	height: auto;
	font-size: 17px;
	padding: 20px 10px;
	border: 2px solid #adadad;
	margin-right: 17px;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
}
	.catalog__nav--item:not(:last-child){
		margin-bottom: 15px;
	}

		.catalog__nav--link{
			font-size: 17px;
			color: #2b2c2c;
			font-weight: bold;
		}
		.catalog__nav--link.active{
			color: #6083BF;
		}
		.catalog__nav--sub{
			display: none;
			margin-top: 10px;
		}