.catalog-preview-section{
	background-color: #f1f1f1;
	padding: 13px 0 16px;
}

	.catalog-preview{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}

		.catalog-preview__item{
			overflow: hidden;
			width: 33.3%;
			margin-bottom: 15px;
		}

			.catalog-preview__item-img{
				float: left;
			}

			.catalog-preview__item figcaption{
				overflow: hidden;
				font-size: 22px;
				padding: 0 20px 0 20px;
				line-height: 1.15;
			}