.features-section{
	padding: 25px 0 30px;
	background-color: #ececec;
}

	.features{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

		.features__item{
			width: 16.6%;
			text-align: center;
		}

			.features__item figcaption{
				padding: 15px 20px 0;
			}