.form{
	width: 60%;
	height: auto;
	border: 4px solid #6383bd;
	padding: 38px;
	border-radius: 7px;

}
.form__row{
	margin-bottom: 20px;
}
.form__input input {
    width: 100%;
    color: #4C4C4C;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 2.55;
    border: 2px solid #adadad;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.form__input textarea{
	width: 100%;
	height: 173px;
	resize: none;
    color: #4C4C4C;
    font-size: 16px;
    padding: 0 10px;
    line-height: 2.55;
    border: 2px solid #adadad;
    border-radius: 5px;
    font-family:Arial;
} 
.form__input__col .form__row{
	width: 32.5%;
	float: left;
	
}
.form__input__col .form__row:not(:last-child){
	margin-right: 10px;
}

.contacts .form__input input{
    line-height: 1.3;
}
.contacts .form__input label{
    margin-bottom: 5px;
    display: inline-block;
}


.checkbox{
    position: relative;
}
    .checkbox__input{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        display: inline-block;
    }
    .checkbox__label{
        padding-left: 40px;
        line-height: 30px;
        cursor: pointer;
        display: inline-block;
        background: url(../images/checkbox.png) 0 0 no-repeat;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .checkbox__input:checked + .checkbox__label{
        background-image: url(../images/checkbox_a.png);
    }

    .add_file{
        padding: 10px 5px 5px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        font-size: 16.5px;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        background-color: #2b80d1;
        -webkit-border-radius: 3px;
                border-radius: 3px;
    }
        .add_file:hover{opacity: .85;}
        .add_file label{cursor: pointer;}
        .add_file__input{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            max-width: 100%;
            cursor: pointer;
            visibility: hidden;
        }
    .add_file+button{
        font-weight: bold;
        padding: 5px 5px 4px;
    }