.manager-contacts-section{
	padding: 13px 0 31px;
}

	.manager-contacts{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin: 0 -3px;
		color: #fff;
	}

		.manager-contacts__item{
			width: calc(20% - 6px);
			margin: 0 3px;
			padding: 5px 22px;
			border-radius: 3px;
			font-size: 12px;
		}