.product_single{
	margin-bottom: 20px;
}

	.product_single--img{
		float: left;
		/*width: 43%;*/
		width: 311px;
		margin-right: 15px;
		text-align: center;
		overflow: hidden;
		border: 3px solid #adadad;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
	}
		.product_single--img img{
			max-width: 100%;
		}

	.product_single--info{
		float: left;
		/*width: 53%;*/
		padding-top: 10px;
		width: calc(100% - 340px);
	}

		.product_single .determ_list{
			width: 180px;
			font-size: 18px;
		}
			.product_single .determ_list dt{
				margin-right: 4px;
				margin-bottom: 16px;
			}
			.product_single .determ_list dd{
				margin-bottom: 16px;
			}

		.product_single .input_num_wrap{margin-right: 20px;}



.product_wrap{
	margin-left: -20px;
	margin-right: -20px;
}

	.product{
		width: 19%;
		float: left;
		text-align: center;
		margin: 0 20px 20px;
		
	}
		/*.product:hover .product__img{border-color: #2066dd;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}
		.product:hover .product__info{color: #2066DD;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}*/
		.product__img{
			width: 100%;
			margin-bottom: 17px;
			text-align: center;
			min-height: 151px;
			border: 2px solid #B1B1B1;
			display: inline-block;
		}
			.product__img img{max-width: 100%;}
		
	
		.product__info{
			color: #2B2C2C;
			font-size: 16px;
			font-weight: bold;
		}


.input_num_wrap{
	width: 65px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	border: 2px solid #757473;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

	.input_num_wrap a{
		top: 0;
		width: 23px;
		height: 29px;
		color: #282829;
		font-size: 18px;
		text-align: center;
		display: inline-block;	
		position: absolute;
		background-color: #f6f8f7;
		max-height: 100%;
	}

	.input_num_wrap .down{
		left: 0;
	}

	.input_num_wrap .up{
		right: 0;
	}

	.input_num_wrap .input_num{
		width: 100%;
		color: #282829;
		font-size: 18px;
		padding:  0 5px 0 20px;
		border: none;
		text-align: center;
		background-color: #f6f8f7;
		font-family:Arial, Helvetica, sans-serif;
	}





/*///////////////////*/
.right_side{
	width: 744px;
}