.slider-section{
	background-color: #f0f0f0;
}


	.slider{
		position: relative;
	}

		.slider__item{
			overflow: hidden;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
			
			.slide-content{
				float: left;
				padding: 41px 0 0 50px;
				font-size: 22px;
				line-height: 1.1;
			}

			.slide-img{
				float: right;
			}

				.slide-comment{
					font-size: 11px;
				}

			.slider .owl-prev,
			.slider .owl-next{
				width: 0;
				height: 0;
				position: absolute;
				top: 50%;
				margin-top: -18px;
			}

				.slider .owl-prev{
					right: 100%;
					margin-right: 40px;
					border-top: 18px solid transparent;
					border-right: 22px solid #c5c4c2;
					border-bottom: 18px solid transparent;
				}

					.slider .owl-prev:hover{
						border-right-color: #9d9d9d;
					}

				.slider .owl-next{
					left: 100%;
					margin-left: 40px;
					border-top: 18px solid transparent;
					border-left: 22px solid #c5c4c2;
					border-bottom: 18px solid transparent;
				}

					.slider .owl-next:hover{
						border-left-color: #9d9d9d;
					}

				.slider .owl-pagination{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding-bottom: 13px;
					text-align: center;
				}
					.slider .owl-pagination .owl-page{
						background-color: #555453;
						width: 13px;
						height: 13px;
						display: inline-block;
						border-radius: 50%;
						margin: 0 9px;
					}
						.slider .owl-pagination .owl-page:hover,
						.slider .owl-pagination .owl-page.active{
							background-color: #e01630;
						}

