.table{
	width: 100%;
	display: inline-block;
	border: 2px solid #00020b;
}
	.table__row:not(:last-child){
		border-bottom: 2px solid #00020B;
	}

		.table__row th,
		.table__row td{
			text-align: center;
			padding: 4px 5px;
		}

		.table__row th:not(:last-child),
		.table__row td:not(:last-child){
			border-right: 2px solid #00020B;
		}

		.table__row th:first-child,
		.table__row td:first-child{
			width: 68px;
		}

		.table__row th:nth-child(2),
		.table__row td:nth-child(2){
			width: 44%;
			text-align: left;
		}

		.table__row th:nth-child(3),
		.table__row td:nth-child(3){
			width: 83px;
		}

		.table__row th:nth-child(4),
		.table__row td:nth-child(4){
			width: 81px;
		}

		.table__row th:nth-child(5),
		.table__row td:nth-child(5){
			width: 98px;
		}

		.table__row th:last-child,
		.table__row td:last-child{
			width: 92px;
		}

		.table__row th{
			font-weight: 400;
			
		}

		.table__row td{}