/*======================> Footer <======================*/
footer{
  padding: 50px 0 20px;
  background-color: #d8d8d8;
}
  footer .logo{
    float: left;
    margin-right: 18px;
  }

  .footer__inner{
    float: left;
    margin-right: 20px;
  }

  .footer__right{}
    .footer__right .footer__inner{
      width: 119px;
      margin-right: 15px;
    }

  footer .header__cart{
    width: auto;
    float: left;
    margin-right: 50px;
  }

  footer .btn{
    margin-top: 25px;
  }