/*======================> Header <======================*/
header{
  background-color: #d8d8d8;
  padding: 5px 0 18px;
}

  .header__inner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 13px;
  }

    .header__left{
      padding-top: 3px;
      width: 16%;
    }

    .header__center{
      width: 68%;
      padding: 1px 0 0 18px; 
    }

      .header__contacts{
        letter-spacing: -.5px;
      }

    .header__right{
      padding: 3px 0 0 10px;
      width: 16%;
      text-align: right;
    }

  .logo{}
      .logo a{
        display:block;
      }

      .logo a img{
        max-width: 100%;
        height: auto;
      }


  .menu{
    padding-top: 35px;
  }

    .menu li{
      float: left;
      margin-right: 20px;
      text-transform: uppercase;
    }

      .menu > li > a{
        font-size: 18px;
        font-weight: bold;
        display: block;
        position: relative;
        text-transform: uppercase;
        color: #282729;
      }

      .has-dropdown{
        position: relative;
      }
        .has-dropdown>a{
          padding-right: 17px;
        }

          .has-dropdown>a::after{
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 0;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 9px solid #212021;
            content: "";
          }

      .menu > li > a:hover{
        color: #e02131;
      }

        .menu > li > a:hover::after{
          border-top: 9px solid #e02131;
        }

      .dropdown_list{
        width: 163px;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        top: 20px;
        z-index: 15;
        position: absolute;
        display: inline-block;
        background-color: rgba(235, 237, 237, .95);
        -webkit-border-radius: 3px;
                border-radius: 3px;
        -webkit-box-shadow: 0 0 3px #EBEDED;
                box-shadow: 0 0 3px #EBEDED;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .has-dropdown:hover > .dropdown_list{
        visibility: visible;
        opacity: 1;
      }
        .dropdown_list li{
          float: none;
          margin-right: 0;
          display: inline-block;
          width: 100%;
        }
        .dropdown_list li:not(:last-child){
          /*margin-bottom: 5px;*/
        }
          .dropdown_list li a{
            color: #00020B;
            font-size: 12px;
            line-height: 1.3;
            text-transform: none;
          }
          .dropdown_list li a:hover{
            text-decoration: underline;
          }


    .header__cart{
      display: block;
      text-align: left;
      margin-top: 12px;
      color: #e3000f;
      padding: 13px 0 10px 45px;
      background: url(../images/cart-icon.png) 0 50% no-repeat;
    }


      .header__cart > span{
        display: block;
      }

      .header__cart-label{
        padding: 0 0 0;
        text-transform: uppercase;
        font-weight: bold;
      }

      .header__cart-qty{
        color: #175c9d;
        font-size: 11px;
        text-transform: uppercase;
      }


  .header__search{
    background-color: #ececec;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 20px;
  }

    .header__search-inp{
      width: calc(100% - 63px);
      float: left;
      background: none;
      border: none;
      padding: 4px 10px;
    }

    .header__search-btn{
      float: right;
      width: 63px;
      line-height: 23px;
      display: block;
      background-color: #e3e3e3;
      color: #282729; 
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

      .header__search-btn:hover{
        background-color: #c4cfcc;
      }



.resp_nav{
  /*display: none;*/
  position: fixed;
  right: -330px; /*-330*/
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 20;
  overflow: hidden;
  padding: 50px 15px 15px;
  background-color: #CDCDCD;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
          box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
  .resp_close{
    top: 5px;
    right: 8px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    background: url(../images/cancel.png) 50% 50% no-repeat;
  }

  .resp_nav .menu li{
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    /*width: 100%;*/
  }

  .resp_nav .header__search{
    margin-right: 0;
    margin-top: 25px;
  }
  .resp_menu{
    display: none;
  }
