/*----------------------> Links And buttons <------------------*/
a {
  color:#5479b9;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding: 1px 8px 0;
  margin: 0 0 0;
  font-size: 13px;
  line-height: 25px;
  color:#fff;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #2b80d1;
  min-width: 130px;
}
  .btn:hover{
    background:#2c82f9;
    color:#fff;
  }


  .btn-skin--red{
    background-color: #e3000f;
    color: #fff;
  }

  .btn-skin--red:hover{
    background-color: #f75059;
  }

  [data-btn-size="default"]{

  }

  [data-btn-size="medium"]{
    
  }

  [data-btn-size="large"]{
    
  }

form button{
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
      

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

form button.btn{
  font-size: 16px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #175c9d;
  min-width: 100px;
}

form button.btn-skin--red{
  border-color: #FA0C19; 
}

.btn_type2{
  color: #175c9d;
  background-color: #FFF;
}
.btn_type2:hover{
  color: #fff;
  background-color: #175c9d;
}