/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 999px) {
body{min-width:767px;}


/*-------------  CONTENT  ------------*/

}

@media only screen and (max-width: 968px) {

/*-------------  HEADER  ------------*/

/*-------------  FOOTER  ------------*/

}


@media only screen and (max-width: 935px) {
/*-------------  FOOTER  ------------*/

}


@media only screen and (max-width: 920px) {

/*-------------  HEADER  ------------*/


}


@media only screen and (max-width: 902px) {

/*-------------  HEADER  ------------*/

/*-------------  FOOTER  ------------*/

}

@media only screen and (max-width: 883px) {

/*-------------  HEADER  ------------*/


}

@media only screen and (max-width: 870px) {

/*-------------  HEADER  ------------*/


}


@media only screen and (max-width: 849px) {
/*-------------  HEADER  ------------*/
		
	

/*-------------  CONTENT  ------------*/
}

@media only screen and (max-width: 767px) {
/*-------------  HEADER  ------------*/

/*-------------  FOOTER  ------------*/


/*-------------  CONTENT  ------------*/

}

@media only screen and (max-width: 479px) {
body{min-width:300px;}
}