/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1700px) {

/*-------------  CONTENT  ------------*/
	.input_num_wrap .input_num{
		padding: 0 19px 0 20px;
	}
}

@media only screen and (max-width: 1024px) {

/*-------------  CONTENT  ------------*/
	.slider .owl-next{margin-left: 10px;}
	.slider .owl-prev{margin-right: 10px;}

}

@media only screen and (max-width: 999px) {
body{min-width:767px;}
	.container{
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}


/*-------------  CONTENT  ------------*/
	.right_side{
		width: 76%;
	}

	.slider .owl-next{margin-left: -30px;}
	.slider .owl-prev{margin-right: -30px;}
}

@media only screen and (max-width: 968px) {

/*-------------  HEADER  ------------*/
	.header__center{width: 66%;}
	.header__right{width: 18%;}
		.header__inner .menu > li > a{font-size: 16px;}

/*-------------  FOOTER  ------------*/
	.footer__inner{margin-right: 15px;}
		.footer__right .footer__inner{width: 110px;}

}


@media only screen and (max-width: 936px) {
/*-------------  CONTENT  ------------*/
	.manager-contacts__item{
		padding: 5px 12px;
	}

	.contacts-section .header__contacts{
		font-size: 18px;
	}

/*-------------  FOOTER  ------------*/
	.footer__right .footer__inner{width: 100px;}



}


@media only screen and (max-width: 920px) {

/*-------------  HEADER  ------------*/
	.header__inner .header__contacts{font-size: 13px;}


/*-------------  CONTENT  ------------*/
	.form__input__col .form__row{
		width: 32%;
	}

}


@media only screen and (max-width: 909px) {

/*-------------  HEADER  ------------*/
	.header__inner .menu > li > a{font-size: 15px;}

/*-------------  FOOTER  ------------*/
	footer{text-align: center;}
		footer .logo{
			float: none;
			display: inline-block;
		}
		.footer__inner{
			float: none;
			text-align: left;
			margin-bottom: 15px;
			display: inline-block;
		}
		.footer__right{float: none;}
		footer .header__cart{
			width: 115px;
			float: none;
			display: inline-block;
		}

}

@media only screen and (max-width: 883px) {

/*-------------  HEADER  ------------*/
	.header__left{width: 17%;}
		.header__inner .menu > li > a{font-size: 14px;}


}

@media only screen and (max-width: 870px) {

/*-------------  HEADER  ------------*/
	.header__right{width: 19%;}
		.header__inner .header__contacts{font-size: 12px;}


}


@media only screen and (max-width: 849px) {
/*-------------  HEADER  ------------*/
	.header__left{width: 20%;}
	.header__center{width: 65%;}
	.header__right{width: 22%;}
		.menu{
			padding-top: 20px;
		}
			.header__inner .menu > li > a{font-size: 11px;}
		
	

/*-------------  CONTENT  ------------*/
	.right_side{width: 73%;}
	.manager-contacts__item{padding: 5px 4px;}

	.product_single--img{width: 38%;}
	.product_single--info{width: 58%;}


	.product_wrap{
		margin-left: -10px;
		margin-right: -10px;
	}
		.product{
			width: calc(33% - 20px);
			margin: 0 10px 10px;
		}
}

@media only screen and (max-width: 767px) {
body{min-width: 479px;}
/*-------------  HEADER  ------------*/
	header{padding: 0;}
	.header__left{width: 150px;}
	header .header__center,
	header .header__right,
	.header__inner:nth-child(2) .header__left{
		display: none;
	}
	

	.resp_menu{
		display: block;
		position: absolute;
		top: 30px;
		right: 15px;
	}

	.nav_overlay .resp_nav{
		right: 0;
	}

/*-------------  FOOTER  ------------*/
	footer{text-align: left;}
		footer .logo{margin-bottom: 25px;text-align: center;}
		


/*-------------  CONTENT  ------------*/
	.page_top{margin-bottom: 0;}
		.catalog__nav{
			float: none;
			width: 100%;
			margin-bottom: 25px;
		}
		.right_side{
			float: none;
			width: 100%;
		}

	.private_office{margin-left: 0;}


	.catalog-preview__item figcaption{font-size: 18px;}

	.contacts_block__left,
	.contacts_block__right{
		float: none;
		width: 100%;
	}
	.contacts_block--title,
	.contacts_block__right{text-align: center;}
	


	/*.resp-toggle-btn { display: inline-block; border: none; cursor: pointer; outline: none; width: 50px; height: 40px; position: relative; top: 8px; right: 12px; position: absolute; background: none;}
	  
	.resp-toggle-btn span { display: block; position: absolute; height: 2px; left: 8px; right: 8px; background-color: #fff; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.resp-toggle-btn span.line1 { top: 11px; }
	.resp-toggle-btn span.line2 { top: 19px; }
	.menu > .hasUl > a::after { right: 22px; }
	.resp-toggle-btn span.line3 { top: 27px; }
	.navTrue .resp-toggle-btn span { left: 6px; right: 6px; }
	.navTrue .resp-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 19px; }
	.navTrue .resp-toggle-btn span.line2 { opacity: 0; }
	.navTrue .resp-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; }
	.menu { position: fixed; left: 100%; top: 55px; width: 300px; height: 100%; z-index: 999; padding: 0; overflow: auto; background-color: #131c35; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }
	.navTrue .menu { left: calc(100% - 300px); }
	.menu li { float: none; display: block; line-height: 40px; padding: 0 20px; margin: 0; text-align: left; border-top: 1px solid rgba(255, 255, 255, 0.3); }
	.menu a { display: block; padding: 10px 20px; color: #fff; font-size: 16px; }
	.nav_overlay { position: fixed; opacity: 0; visibility: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 888; color: #fff; background-color: #000; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }
	.navTrue .nav_overlay { opacity: .7; visibility: visible; }*/
}

@media only screen and (max-width: 720px) {
/*-------------  CONTENT  ------------*/
	.form__input__col .form__row{
		width: 100%;
		margin-right: 0;
	}
}


@media only screen and (max-width: 667px) {
/*-------------  CONTENT  ------------*/
	.manager-contacts{
		display: block;
		text-align: center;
	}
		.manager-contacts__item{
			display: inline-block;
			width: calc(40% - 6px); 
			margin-bottom: 10px;
		}

	.catalog-preview__item figcaption{
		font-size: 13px;
		padding: 0 10px;
	}

	
	.features{
		display: block;
	}
		.features__item{
			width: 31%;
			float: left;
			margin-bottom: 15px;
		}

	.catalog .catalog-preview__item{width: 50%;}

	.modal__content{width: 98%;}
	.add_file + .btn{
		float: none;
		margin-top: 20px;
	}

}

@media only screen and (max-width: 550px) {
/*-------------  CONTENT  ------------*/
	.catalog-preview__item{
		width: 50%;
	}

		.product{
			width: calc(50% - 20px);
		}
}


@media only screen and (max-width: 479px) {
body{min-width:300px;}
/*-------------  FOOTER  ------------*/
	.footer__right .footer__inner{
		float: none;
		width: 100%;
		margin-right: 0;
	}

/*-------------  CONTENT  ------------*/
	img{max-width: 100%;}
	.product_single--img,
	.product_single--info{
		float: none;
		width: 100%;
	}
}


@media only screen and (max-width: 425px) {
/*-------------  CONTENT  ------------*/
	.page_top{margin-bottom: 0;}
		.catalog__nav{
			float: none;
			width: 100%;
			margin-bottom: 25px;
		}
		.right_side{
			float: none;
			width: 100%;
		}

	.private_office{margin-left: 0;}
	
	.table__row th, 
	.table__row td{
		font-size: 9px;
	}

	.title-1{font-size: 31px;}
	.slide-content{padding: 41px 0 0 41px;}

	.catalog-preview__item,
	.catalog .catalog-preview__item{
		width: 100%;
	}
		.catalog-preview__item figcaption{
			font-size: 20px;
		}

}


@media only screen and (max-width: 395px) {
/*-------------  CONTENT  ------------*/
	.manager-contacts__item{
		float: none;
		width: 100%;
	}

	.product_wrap{
		margin-left: 0px;
		margin-right: 0px;
	}
		.product{
			width: 100%;
			float: none;
			margin: 0 0px 10px;
		}

}